.btn-wrap {
	margin-top: 110px;
	text-align: center;
}

.btn-more {
	display: block;
	.ico-area {
		position: relative;
		width: 140px;
		height: 140px;
		margin: 0 auto;

		i {
			position: absolute;
			background-color: #aaa;
		}
	}

	.row-bar {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: calc(100% - 20px * 1);
		height: 3px;
	}
	.col-bar {
		left: 50%;
		top: 50%;
		transform: translate(-48%, -50%);
		width: 3px;
		height: calc(100% - 20px * 1);
	}

	> span {
		display: block;
		font-size: 16px;
		line-height: 1;
		font-family: $font-kr;
		font-weight: 700;
		letter-spacing: -0.025em;
		color: #222;
		margin-top: 25px;
	}
}
